<section class="content">
  <div class="d-flex justify-content-center align-items-center loader-container" [ngClass]="{'hide-loader': !loading}">
    <span class="loader"></span><br>
    <h2 style="color: white;">&nbsp;Cargando...</h2>
  </div>
  <div class="container-fluid" [ngClass]="{'show-form': loading}" style="overflow: auto; width: 100%;">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [codigoInforme]="''"
        [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
  </div>

  <div class="row m-0 p-0" min>
    <div class="col-md-12  m-0 p-0">
      <div class="card card-body shadow " style="padding-bottom: 0px;">
        <div class="row">
          <div class="col-md-5">
            <mat-form-field class="w-100">
              <mat-label>Consulta de </mat-label>
              <mat-select [(ngModel)]="idQuery" placeholder="">
                <mat-option [value]="1">6.1.5 IMPRIMIR FICHA DE ABONADOS</mat-option>
                <mat-option [value]="2">6.1.7 LISTADO DE ABONADOS</mat-option>
                <mat-option [value]="3">6.1.14 INFORMES PENDIENTES VENCIDOS Y POR VENCER</mat-option>
                <mat-option [value]="4">6.1.15 LISTADO DE ABONADOS POR PAIS</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4" *ngIf="idQuery === 2">
            <mat-form-field class="w-100">
              <mat-label>Ordenar Por </mat-label>
              <mat-select [(ngModel)]="query1_2_orderBy" placeholder=""
                (ngModelChange)="seleccionarOrden(query1_2_orderBy)">
                <mat-option [value]="'C'">Código</mat-option>
                <mat-option [value]="'N'">Nombre</mat-option>
                <mat-option [value]="'P'">País</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2" *ngIf="idQuery === 2">
            <button *ngIf="query1_2_orderBy !== ''" mat-mini-fab color="warn" style="margin: 0 .5rem .5rem .5rem;" (click)="descargarDocumento(idQuery, 'pdf')" #tooltip="matTooltip" matTooltip="Descargar PDF">
              <mat-icon class="col-white">picture_as_pdf</mat-icon>
            </button>
            <button *ngIf="query1_2_orderBy !== ''" mat-mini-fab class="bg-green" style="margin: 0 .5rem .5rem .5rem;" (click)="descargarDocumento(idQuery, 'excel')" #tooltip="matTooltip" matTooltip="Descargar Excel">
              <mat-icon class="col-white">grid_on</mat-icon>
            </button>
          </div>
          <div class="col-md-4" *ngIf="idQuery === 3">
            <mat-form-field class="w-100">
              <mat-label>Mostrar</mat-label>
              <mat-select [(ngModel)]="query1_3_show" placeholder=""
                (ngModelChange)="selectQuary1_3(query1_3_show)">
                <mat-option [value]="'T'">Por Vencer y Vencidos</mat-option>
                <mat-option [value]="'P'">Sólo Por Vencer</mat-option>
                <mat-option [value]="'V'">Sólo Vencidos</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-2" *ngIf="idQuery === 3">
            <button *ngIf="query1_3_show !== ''" mat-mini-fab color="warn" style="margin: 0 .5rem .5rem .5rem;" (click)="descargarDocumento(idQuery, 'pdf')" #tooltip="matTooltip" matTooltip="Descargar PDF">
              <mat-icon class="col-white">picture_as_pdf</mat-icon>
            </button>
            <button *ngIf="query1_3_show !== ''" mat-mini-fab class="bg-green" style="margin: 0 .5rem .5rem .5rem;" (click)="descargarDocumento(idQuery, 'excel')" #tooltip="matTooltip" matTooltip="Descargar Excel">
              <mat-icon class="col-white">grid_on</mat-icon>
            </button>
          </div>
          <div class="col-md-4" *ngIf="idQuery === 4">
            <mat-form-field class="w-100">
              <mat-label>País</mat-label>
              <input type="text" matInput [formControl]="controlPaises"  [matAutocomplete]="auto6" [(ngModel)]="paisSeleccionado" (ngModelChange)="cambioPais(paisSeleccionado)">
              <mat-hint [ngClass]="colorMsgPais === 'red' ? 'col-red': 'col-green'" ><i class="fa-solid fa-circle-exclamation" *ngIf="colorMsgPais === 'red'"></i><i class="fa-solid fa-circle-check" *ngIf="colorMsgPais === 'green'"></i>&nbsp;{{msgPais}}</mat-hint>
              <button class="btn-traduccion" matSuffix mat-icon-button (click)="limpiarSeleccionPais()">
                <span class="fi fi-{{iconoSeleccionado}}" style="font-size: 20px;"></span>
              </button>
              <mat-autocomplete #auto6="matAutocomplete" [displayWith]="displayPais" >
                <mat-option *ngFor="let pais of filterPais | async" [value]="pais">
                  <span class="fi fi-{{pais.bandera}}"></span>
                  {{pais.valor}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-md-2" *ngIf="idQuery === 4">
            <button *ngIf="idCountry!== 0" mat-mini-fab color="warn" style="margin: 0 .5rem .5rem .5rem;" (click)="descargarDocumento(idQuery, 'pdf')" #tooltip="matTooltip" matTooltip="Descargar PDF">
              <mat-icon class="col-white">picture_as_pdf</mat-icon>
            </button>
            <button *ngIf="idCountry !== 0" mat-mini-fab class="bg-green" style="margin: 0 .5rem .5rem .5rem;" (click)="descargarDocumento(idQuery, 'excel')" #tooltip="matTooltip" matTooltip="Descargar Excel">
              <mat-icon class="col-white">grid_on</mat-icon>
            </button>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12" *ngIf="idQuery === 1">
            <div class="row" style="max-height: 60rem;">
              <div class="col-md-4" style="max-height: 48rem; overflow-y: auto;">
                <table mat-table [dataSource]="DTQuery1_1" class="mat-elevation-z8 w-100" matSort>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center" style="font-size: 18px;">
                      Abonado </th>
                    <td mat-cell *matCellDef="let query" class="text-left"><b>{{query.code}}</b> ||
                      {{query.country}}<span class="fi fi-{{query.flagCountry}}" style="font-size: 20px;"></span> -
                      {{query.name}}</td>
                  </ng-container>
                  <ng-container matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center" style="font-size: 18px;">
                    </th>
                    <td mat-cell *matCellDef="let query" class="text-center">
                      <button mat-mini-fab class="bg-white" matTooltip="Seleccionar"
                        (click)="quary1_1selectSubscriber(query.id, query.code);">
                        <app-feather-icons [icon]="'check-circle'" style="color: rgb(30, 203, 203)"></app-feather-icons>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="columnsQuery1_1"></tr>
                  <tr mat-row style="{{query1_1_idSubscriber === row.id ? 'background-color : rgba(1,1,1,0.2);' : '' }}"
                    *matRowDef="let row; columns: columnsQuery1_1;"></tr>
                </table>
              </div>
              <div class="col-md-8">
                <pdf-viewer [src]="query1_1_pdfSrc" [show-borders]="true" [render-text]="true" [original-size]="false"
                  style="width: 100%; height: {{loading === true ? '5rem' : '45rem'}}"></pdf-viewer>
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="idQuery === 2">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <pdf-viewer [src]="query1_2_pdfSrc" [show-borders]="true" [render-text]="true" [original-size]="false"
                  style="width: 100%; height: {{loading === true ? '5rem' : '45rem'}}"></pdf-viewer>
              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="idQuery === 3">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <pdf-viewer [src]="query1_3_pdfSrc" [show-borders]="true" [render-text]="true" [original-size]="false"
                  style="width: 100%; height: {{loading === true ? '5rem' : '45rem'}}"></pdf-viewer>

              </div>
              <div class="col-md-2"></div>

            </div>
          </div>
          <div class="col-md-12" *ngIf="idQuery === 4">
            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <pdf-viewer [src]="query1_4_pdfSrc" [show-borders]="true" [render-text]="true" [original-size]="false"
                  style="width: 100%; height: {{loading === true ? '5rem' : '45rem'}}"></pdf-viewer>

              </div>
              <div class="col-md-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
