<div id="loader-lista-cupon" class="d-flex justify-content-center align-items-center loader-container" [ngClass]="{'hide-loader': !loading}">
  <span class="loader"></span><br>
  <h2 style="color: white;">&nbsp;Cargando...</h2>
</div>
<div class="container" style="max-width: 45rem;" >
  <div class="row ">
    <div class="card">
      <div class="materialTableHeader mt-3" >
        <div class="left">
          <ul class="header-buttons-left ms-0">
            <li class="tbl-title">
              <h2>Adjuntar Archivos al Cupón {{cupon}}</h2>
            </li>
          </ul>
        </div>
        <div class="right">
          <ul class="tbl-export-btn">
            <li class="tbl-header-btn">
              <div class="m-l-10" >
                <button mat-icon-button #tooltip="matTooltip" class="btn bg-red shadow" matTooltip="Salir"  (click)="cerrarDialog()">
                  <i class="fa-solid fa-right-from-bracket" style="font-size: 16px; color: white;"></i>
                </button>
              </div>
            </li>
            <li class="tbl-header-btn">
              <div class="m-l-10" >
                <button mat-icon-button #tooltip="matTooltip" class="btn shadow" [ngClass]="attachments.length > 0 ? 'bg-blue' : 'bg-grey'" matTooltip="Descargar Todos" [disabled]="attachments.length === 0">
                  <i class="fa-solid fa-file-zipper" style="font-size: 16px; color: white;"></i>
                </button>
              </div>
            </li>
            <li class="tbl-header-btn">
              <div class="m-l-10" >
                <button mat-icon-button #tooltip="matTooltip" class="btn btn-primary shadow" matTooltip="Agregar Archivo" (click)="subirArchivo()">
                  <i class="fa-solid fa-upload" style="font-size: 16px; color: white;"></i>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <ng-scrollbar style="height: 285px" class="mat-elevation-z8 " visibility="hover">
        <ul class="list-unstyled m-3">
           <h3>Planillas y formatos</h3>
          <li class="d-flex mb-3">
            <span class="msr-3 align-self-center img-icon primary-rgba text-primary">
              <i class="far fa-file-word" style="font-size: 30px;"></i>
            </span>
              <h6 class="font-16">Planilla Negocios Personas </h6>
            <div class="ms-auto">
              <td>
                <button mat-icon-button #tooltip="matTooltip" class="btn bg-teal shadow" matTooltip="Descargar" (click)="descargarArchivo('../../../../assets/formatos/Planilla_Negocios_Personales.doc','Planilla_Negocios_Personales.doc')">
                  <i class="fa-solid fa-download" style="font-size: 16px; color: white;"></i>
                </button>
              </td>
            </div>
          </li>
          <li class="d-flex mb-3">
            <span class="msr-3 align-self-center img-icon primary-rgba text-primary">
              <i class="far fa-file-word" style="font-size: 30px;"></i>
            </span>
              <h6 class="font-16">Planilla Reportero </h6>
            <div class="ms-auto">
              <td>
                <button mat-icon-button #tooltip="matTooltip" class="btn bg-teal shadow" matTooltip="Descargar" (click)="descargarArchivo('../../../../assets/formatos/Planilla_Reportero.doc','Planilla_Reportero.doc')">
                  <i class="fa-solid fa-download" style="font-size: 16px; color: white;"></i>
                </button>
              </td>
            </div>
          </li>
        </ul>
        <ul class="list-unstyled m-3">
          <h3>Documentos Adjuntos</h3>
          <li class="d-flex mb-3" *ngFor="let attachment of attachments">
            <span class="msr-3 align-self-center img-icon primary-rgba text-primary" *ngIf="attachment.type === 'WORD'">
              <i class="far fa-file-word" style="font-size: 30px;"></i>
            </span>
            <span class="msr-3 align-self-center img-icon success-rgba text-success" *ngIf="attachment.type === 'EXCEL'">
              <i class="far fa-file-excel" style="font-size: 30px;"></i>
            </span>
            <span class="msr-3 align-self-center img-icon danger-rgba text-danger" *ngIf="attachment.type === 'PDF'">
              <i class="far fa-file-pdf" style="font-size: 30px;"></i>
            </span>
            <span class="msr-3 align-self-center img-icon info-rgba text-info" *ngIf="attachment.type === 'TXT'">
              <i class="far fa-file-archive" style="font-size: 30px;"></i>
            </span>
            <div class="set-flex">
              <h5 class="font-16 mb-1">{{attachment.name}}</h5>
              <p>{{attachment.path}}</p>
            </div>
            <div class="ms-auto">
              <td>
                <button mat-icon-button #tooltip="matTooltip" class="btn bg-teal shadow" matTooltip="Descargar">
                  <i class="fa-solid fa-download" style="font-size: 16px; color: white;"></i>
                </button>
                <button mat-icon-button #tooltip="matTooltip" class="btn bg-red shadow" matTooltip="Quitar" (click)="borrarAttachment(attachment.id)">
                  <i class="fa-solid fa-trash" style="font-size: 16px; color: white;"></i>
                </button>
              </td>
            </div>
          </li>
        </ul>
      </ng-scrollbar>
    </div>
  </div>
</div>
