<div class="settingSidebar" [ngClass]="isOpenSidebar ? 'showSettingPanel' : ''">
  <a href="javascript:void(0)" class="settingPanelToggle" (click)="toggleRightSidebar()">
    <app-feather-icons [icon]="'search'" [class]="'setting-sidebar-icon'"></app-feather-icons>
  </a>
  <ng-scrollbar [style.height]="maxHeight + 'px'" visibility="hover">
    <div class="settingSidebar-body ps-container ps-theme-default">
      <div class=" fade show active">
        <div class="setting-panel-header">Búsqueda
        </div>
        <div class="p-15 border-bottom">
          <div class="flex flex-wrap hiddenradio">
            <div class="row">
              <div class="col-md-8 m-0">
                <mat-form-field class="w-100">
                  <mat-label>Buscar</mat-label>
                  <input id="buscador" matInput [(ngModel)]="search">
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <button mat-mini-fab [class]="'bg-blue'"  style="margin: .5rem .5rem .5rem .5rem;" matTooltip="Buscar" (click)="consultar()">
                  <mat-icon class="col-white">search</mat-icon>
                </button>
              </div>
              <div class="col-md-2">
                <button mat-mini-fab [class]="'bg-red'"  style="margin: .5rem .5rem .5rem .5rem;" matTooltip="Limpiar" (click)="search = ''; copilot=[]">
                  <mat-icon class="col-white">cleaning_services</mat-icon>
                </button>
              </div>

             </div>
             <div class="row">
              <div *ngIf="loading" class="col-md-12 d-flex justify-content-center align-items-center">
                <div class="loader"></div>
              </div>
              <div id="showResponse" class="col-md-12" *ngIf="!loading">
                <div class="w-100 h-100" *ngIf="copilot[0]?.webPages?.value">
                  <div class="card card-body" *ngFor="let item of copilot[0].webPages.value">
                    <a style="color: rgb(38, 38, 161); text-decoration: underline;" [href]="item.url"  [target]="'_blank'" matListItemTitle><h4>{{ item.name }}</h4></a>
                    <span>{{ item.snippet }}</span>
                    <div *ngFor="let itemrf of item.richFacts" class="mt-2">
                      <h5>{{itemrf.label.text}}</h5>
                      <ul>
                        <li *ngFor="let itemrfs of itemrf.items">  {{itemrfs.text}}</li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
            </div>



          </div>
        </div>

      </div>
    </div>
  </ng-scrollbar>
</div>
