<div class="settingSidebar" [ngClass]="isOpenSidebar ? 'showSettingPanel' : ''">
  <a href="javascript:void(0)" class="settingPanelToggle" (click)="toggleRightSidebar()">
    <app-feather-icons [icon]="'search'" [class]="'setting-sidebar-icon'"></app-feather-icons>
  </a>
  <ng-scrollbar [style.height]="maxHeight + 'px'" visibility="hover">
    <div class="settingSidebar-body ps-container ps-theme-default">
      <div class=" fade show active">
        <div class="setting-panel-header">Búsqueda
        </div>
        <div class="p-15 border-bottom">         
          <div class="flex flex-wrap hiddenradio">
            <div class="row"> 
              <div> 
               <input>
                 <button type="button" class="btn btn-success">
                   Buscar
                 </button>
              </div>
             </div>
            <div class="row"> 
              <textarea style="height: 500px"></textarea> 
            </div>
           
           
          </div>
        </div>
      
      </div>
    </div>
  </ng-scrollbar>
</div>
